.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-brand2{
  width: 2000px;
  position: relative;
  top: -20px;
}

.botãoclass {
  color: #ffffff;
  margin-right: 50px !important;
}

.container-fluid{
  background-color: #7E6969;
}



.nav-item{
  margin-right: 50px !important; /* Aumenta o espaçamento à direita de cada item */

}

.nav-link{
  color: white;
}

#navbarNav{
  font-size: 25px;
  font-style: white;
}

.navbar-brand{
  width: 250px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
